$color-white: #ffff; // main background color
$color-dark: #1d2624; //navbar + footer
$color-green: #525f59; // not a very nice color maybe we wont use it
$color-pinky: #edeae4; //accent one
$color-lightgray: #c5d5d6; //button color
$color-sky: #ecf7f5; //accent two
$color-pepper: #b75838; //add some extra color when we need it