$color-white: #ffff; // main background color
$color-dark: #1d2624; //navbar + footer
$color-green: rgb(82, 95, 89); // not a very nice color maybe we wont use it
$color-pinky: #edeae4; //accent one
$color-lightgray: #c5d5d6; //button color
$color-sky: #ecf7f5; //accent two

