.company-login {
    height: 700px;
    margin-top: 3em;
    .company-login-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}