@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-family-Roboto: 'Roboto', sans-serif;
$font-family-Bebas: 'Bebas Neue', cursive;