@import "./colors";
@import "./fonts";
@import "./mobile";

.modalHeader {
  background-color: $color-pinky;
}

.jobs-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;

  .separator {
    width: 100%;
  }
}

.carousel-wrapper {
  width: 100%;

  .carousel-card {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font-family-Roboto;
    background-color: $color-white;
    // border-radius: 15px;
    // border-bottom: 2px solid blue;
    margin: 15px;
    padding: 15px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }

    @include mobile-small {
      height: 45vh;
    }
  }
}

button.rec-dot {
  background-color: $color-pinky;
  box-shadow: 0 0 1px 3px rgba(82, 95, 89, 0.5);
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  background-color: $color-green;
  box-shadow: 0 0 1px 3px rgba(82, 95, 89, 0.5);
}

//Carousel Arrows

.jRFJkP {
  background-color: $color-pinky !important;

  @include mobile-small {
    display: none;
  }

  &:hover {
    background-color: $color-green !important;
  }
}

.cNNJIt {
  background-color: $color-pinky !important;

  @include mobile-small {
    display: none;
  }

  &:hover {
    background-color: $color-green !important;
  }
}
