@import './flexCenter';
@import './colors';
@import './mobile';
@import './fonts';


.Company-sign-container{
    display: flex;
    
    // left side wall

    .Wall-left {
        flex:0.2;
        @include flex-center;
        justify-content: center;
        height: 100vh;
        border-top:5px solid white;
        border-bottom:5px solid white;
        
        img {
            width: 10rem;
            
        }

        @include mobile {
           display: none;
            }
    }

    // form section 

     .signUp-form-right{
        flex:0.8;
        @include flex-center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;

             h2{
                 padding: 60px 0;
                 margin-top: -100px;
                 color:$color-green;
                //  font-family: $font-family-Roboto;

             }
             @include mobile {
                flex:1;
                
                    h2{
                        margin-top:-10px;
                        padding: 5px;
                        font-weight: 300;
                        font-size: 20px;
                    }
                 }

   
    .form-style-5{
        width: 800px;
        font-size: 18px;
        background: #6c757d;
        padding: 30px 30px 15px 30px;
        border: 5px solid #6c757d;

        @include mobile-small {
            
            width: 500px;
        }
    }
    .form-style-5 input[type=submit],
    .form-style-5 input[type=button],
    .form-style-5 input[type=text],
    .form-style-5 input[type=email],
    .form-style-5 textarea,
    .form-style-5 label
    {
        font-family: $font-family-Roboto, "Times New Roman", Times, serif;
        font-size: 18px;
        color: $color-white;
    
    }
    .form-style-5 legend {
        color:$color-dark;
    }
    .form-style-5 label {
        display:block;
        margin-bottom: 12px;
    }
    .form-style-5 label > span{
        display: inline-block;
        float: left;
        width: 200px;
    }
    .form-style-5 input[type=text],
    .form-style-5 input[type=email],
    .form-style-5 input[type=password],
    .form-style-5 input[type=phone],
    .form-style-5 input[type=number]
    {
        background: transparent;
        border: none;
        border-bottom: 1px dashed #83A5C5;
        width: 275px;
        outline: none;
        padding: 0px 0px 0px 0px;
        color: $color-white;
    }
    .form-style-5 textarea{
        
        padding: 10px 0px 0px 0px;
        background: transparent;
        outline: none;
        // border: none;
        border-bottom: 1px dashed #83A5C5;
        width: 600px;
        // overflow: hidden;
        resize:none;
        height:120px;

        @include mobile-small {
           
            width: 330px;
        }
    }
    
    .form-style-5 textarea:focus, 
    .form-style-5 input[type=text]:focus,
    .form-style-5 input[type=email]:focus,
    .form-style-5 input[type=email] :focus
    {
        border-bottom: 1px dashed #D9FFA9;
    }
    
    .form-style-5 input[type=submit],
    .form-style-5 input[type=button]{
        background: $color-green;
        border: none;
        padding: 8px 10px 8px 10px;
        border-radius: 5px;
        color: $color-white;
    }
    .form-style-5 input[type=submit]:hover,
    .form-style-5 input[type=button]:hover{
    background: $color-dark;
    }
    }
}