@import "./fonts";
@import "./colors";
@import "./flexCenter";
@import "./mobile";
@import "./buttons";

//Header

.admin-jobs-title {
  h3 {
    font-family: $font-family-Bebas;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .admin-jobs-title {
    h3 {
      // font-family: $font-family-Bebas;
      letter-spacing: 2px;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }
}
//Body

.jobsCard {
  // border: 1px solid red;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.02);
    background-color: $color-pinky;
  }

  .adminJobsButtons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    button {
      width: 80px;
      margin: 1rem;
    }
  }
}

//background opaque for the MODAL
.jobsAdminModalBg {
  background-color: rgba($color-backdrop-bootstrap, 0.1);
}
