.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 40px 0;
}

.Container .Card {
  background-color: $color-pepper;
  position: relative;
  min-width: 420px;
  height: 420px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}
.Container .Box .Content img {
  background-color: $color-white;
  border-radius: 50%;
}
.Container .Box .Content .Button {
  background: #2196f3;
}

.Container .Card .Box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.Container .Card .Box:hover {
  transform: translateY(-50px);
  cursor: pointer;
}

.Container .Card .Box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.Container .Card .Box .Content {
  padding: 20px;
  text-align: center;
}

.Container .Card .Box .Content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
  margin-top: 15px;
}
.Container .Card .Box .Content h6 {
  font-size: 1.8rem;
  color: $color-pepper;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}
.Container .Card .Box .Content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.Container .Card .Box .Content .Button {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.Container .Card .Box .Content .Button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
