@import "./colors";
@import "./fonts";

.FooterParent {
  background-color: #292b2c;
  width: 100%;
  

  margin: 0 auto;

  .Footer {
    color: $color-white;
    margin: 0 auto;

    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    & div {
      height: 200px;

      padding-top: 20px;
      margin: 30px;

      p {
        width: 200px;
      }
    }

    li {
      list-style-type: none;

      .SocialIcons {
        margin-right: 8px;
      }
      a {
        text-decoration: none;
        margin-right: 10px;
      }
    }
    .Footer-MIDDLE > span {
      display: flex;
      padding-right: 20px;
    }
  }
  .Footer-Copyright {
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 20px;

    a {
      margin-left: 8px;
      cursor: pointer;
    }
  }
}
