.freelancer-login {
    height: 75vh;
    margin-top: 4rem;
    .freelancer-login-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}