@import "./fonts";
@import "./mobile";
@import "./buttons";
@import "./colors";

.FreelancerSearch {
  background-color: $color-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  .Title {
    margin-top: 10px;
  }

  .Search-Form > input {
    width: 100%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid $color-dark;
    border-radius: 8px;
  }
}

.MainContainer {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: $color-white;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.02);
    background-color: $color-pinky;
  }

  margin-top: 5px;
  @include mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bodyCard-avatar {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 30%;
    margin: 20px auto;
    & img {
      object-fit: cover;
      border-radius: 50%;
      padding: 10px;
      width: 200px;
      height: 200px;
      border: 3px solid $color-white;
      background-color: $color-white;
    }

    h2 {
      padding: 0 10px;
      text-align: center;
      color: $color-dark;
      font-family: $font-family-Bebas;
      letter-spacing: 1px;
    }
    @include mobile {
      width: 100%;
    }
  }
  .bodyCard-details {
    justify-content: center;
    align-items: left;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: black;
    padding: 30px;
    width: 70%;
  }
  p {
    font-size: 20px;
  }
  span {
    font-family: $font-family-Bebas;
    letter-spacing: 1px;
  }

  .OpenContact {
    & input {
      padding: 10px;

      border-radius: 8px;
      border: none;
      margin-bottom: 10px;
    }
    &:hover {
      opacity: 0.8;
      transition: 0.4s ease-in-out;
    }
  }
}
