@import "./fonts";
@import "./mobile";
@import "./buttons";
@import "./colors";

.freelancerView {
  width: 70%;

  .freelancerViewContainer {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    .FavoriteDiv {
      .iconBtn {
        border: none;
        background: none;
      }
      .Favorite {
        color: rgba($color-pepper, 0.9);
        &:hover {
          color: $color-pepper;
        }
      }

      .notFavorite {
        color: rgba($color-green, 0.9);
        &:hover {
          color: $color-green;
        }
      }
    }
  }
  form {
    max-width: 420px;
    margin: 50px auto;

    .feedback-input {
      color: white;
      width: 100%;
    }

    textarea {
      height: 150px;
      line-height: 150%;
      resize: vertical;
    }

    [type="submit"] {
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      width: 100%;
    }
  }
}
