@import "./colors";
@import "./fonts";
@import "./buttons";
@import "./inputFields";
@import "./mobile";

.home-container {
  background-color: $color-sky;
  width: 100%;

  .banner-container {
    background: Linear-gradient(
        to right bottom,
        rgba(82, 95, 89, 0.4),
        rgba(237, 234, 228, 0.1)
      ),
      url(../assets/img/banner-img.jpg);
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55% 45%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .search-fields {
      input {
        @include input-banner;

        @include mobile {
          display: flex;
          flex-direction: column;
          @include input-banner-mobile;
        }
      }
      .search-button {
        @include button;
        width: 200px;
        padding: 13px;

        @include mobile {
          width: 150px;
          padding-left: 1rem;
        }
      }
    }
  }
}

.jobCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  .CardDiv {
    // box-shadow: 10px 10px 10px black;
    border: 2px solid black;
    padding: 10px;
    width: 18rem;
    // height: 83vh;
    margin: 20px 20px 30px;

    img {
      width: 100%;
      height: 200px;
    }
  }
}

.jobs-combo-box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

//Sweet Alert customization
.swal2-popup {
  font-size: 1.1rem !important;
  font-family: $font-family-Roboto;
  color: $color-green;
  border-radius: 30px;
}
