@import "./colors";
@import "./fonts";
@import "./buttons";
@import "./inputFields";
@import "./mobile";

.loading-block {
  //to keep the footer at the button of the page
  width: 100%;
  height: 70vh;
}

.homeContainer {
  padding: 20px;

  .jobSearchContainer {
    // background-color: $color-sky;
    width: 100%;

    .banner-container {
      height: 65vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 55% 45%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      
      

      h4{
        position: absolute;
        font-size: 50px;
        left: 11.25rem;
        top: 9.9rem;
        font-family: $font-family-Bebas;
        text-shadow: 1px 7px 2px rgba(29,38,36,0.38);
        color: #FFFFFF;
        
        @include mobile{
          display: none;
        }
      }
      h5{
        position: absolute;
        font-size: 40px;
        left: 14.375rem;
        top: 12rem;
        font-family: $font-family-Bebas;
        text-shadow: 1px 7px 2px rgba(29,38,36,0.38);
        color: #FFFFFF;
        @include mobile{
          display: none;
        }
      }

      .search-fields {
        //search bar
        input {
          @include input-banner;
          background-image: url(../assets/img/searchIc.png);
          background-position: left center;
          background-repeat: no-repeat;
          background-size: 30px 30px;

          @include mobile {
            display: flex;
            flex-direction: column;
            @include input-banner-mobile;
          }

        }
        .search-button {
          @include button;
          width: 200px;
          padding: 13px;

          @include mobile {
            width: 150px;
            padding-left: 1rem;
          }
        }
      }
    }
    .jobSearchBox {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      background-color: $color-pinky;
    }
  }
}

//carousel
.jobs-combo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px;
}
