@import "./colors";
@import "./fonts";
@import "./buttons";
@import "./inputFields";
@import "./mobile";

.loading-block {
  //to keep the footer at the botton of the page
  width: 100%;
  height: 70vh;
}

.homeContainer {
  padding: 20px;

  .jobSearchContainer {
    // background-color: $color-sky;
    width: 100%;

    .banner-container {
      background: Linear-gradient(
          to right bottom,
          rgba(82, 95, 89, 0.4),
          rgba(237, 234, 228, 0.1)
        ),
        url(../assets/img/banner-img.jpg);
      // url(../assets/img/hp-bg-1.jpeg);
      height: 65vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 55% 45%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin-bottom: 10px;

      .search-fields {
        //search bar
        input {
          @include input-banner;
          background-image: url(../assets/img/searchIc.png);
          background-position: left center;
          background-repeat: no-repeat;
          background-size: 30px 30px;
          


          @include mobile {
            display: flex;
            flex-direction: column;
            @include input-banner-mobile;
          }
        }
        .search-button {
          @include button;
          width: 200px;
          padding: 13px;

          @include mobile {
            width: 150px;
            padding-left: 1rem;
          }
        }
      }
    }
    .jobSearchBox {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      background-color: $color-pinky;
    }
  }
}

//carousel
.jobs-combo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px;
}

//Sweet Alert customization
.swal2-popup {
  color: $color-green;
  // border-radius: 30px;
  // background-color: $color-sky;
}

.swal2-title {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: $font-family-Bebas;
}

.swal2-icon {
  border: 0 !important;
}
