@import './colors';
@import './flexCenter';
@import './mobile';


.main {
    width: 100%;
    padding-bottom:1.2rem;
    background-color: $color-lightgray;


    .center-text {
        @include flex-center;
        justify-content: center;

        h2 {
            color: $color-green;
            padding-top: 2rem;
            font-size: 2rem;

            @include mobile{
                font-weight: 400;
                font-size: 40px;
                text-align: center;
                }
                @include mobile-small{
                font-size: 30px;
                }
        }
    }

    .allExp{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-around;
        padding: 1rem;
        gap: 3rem;
        text-align: center;

        @include mobile{
        grid-template-columns: 1fr;
        padding: 5px;
        }

        h4{
            color: $color-green;
            font-weight:400;
        }
        p{
            line-height: 1.7;
            
        }

        .exps {
            align-items: center;

            .circleImage {
                align-items: center;
                
                img {
                    border-radius: 50%;
                    background-color: $color-white;
                    width: 10rem;
                    object-fit: scale-down;
                    margin: 15px;
                }
            }
        }
    }
}