

// .employee-section{
//     margin-left: 5rem;
// }

/*
nav {
    background: var($primaryColor-1);
    box-shadow: var($primaryColor-2);
  }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-toggle {
    font-size: 1.5rem;
    color: var($primaryColor-3);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .nav-toggle:hover {
    color: var($primaryColor-4);
    transform: rotate(90deg);
  }
  .logo {
    height: 40px;
    transition: all 0.3s linear;
  }
  .logo:hover{
    transform: rotate(45deg) translate(15px);
  }
  .links a {
    color: var($color-7);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
  }
  .links a:hover {
    background: var(--clr-primary-8);
    color: var($color-8);
    padding-left: 1.5rem;
  }
  



  .links-container {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;;
  }
  .show-container {
    height: 10rem;
  }
  @media screen and (min-width: 800px) {
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }
    .links-container {
      height: auto !important;
    }
    .links {
      display: flex;
    }
    .links a {
      padding: 0;
      margin: 0 1rem;
    }
    .links a:hover {
      padding: 0;
      background: transparent;
    }
    .social-icons {
      display: flex;
      
    }
    .social-icons a {
      margin: 0 0.5rem;
      color: var($primaryColor-3);
      transition: all 0.3s linear;
    }
    .social-icons a:hover {
      color: var($color-11);
    }
  }

  .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var($primaryColor-4);
    transition: all 0.3s linear;
  }
  .social-icons a:hover {
    color: var($primaryColor-2);
    cursor: pointer;
  }

  */