$primaryColor-1:#023e8a;
$primaryColor-2:#0077b6;
$primaryColor-3:#0096c7;
$primaryColor-4:#caf0f8;
$secondaryColor-5:#8ecae6;
$secondaryColor-6:#8ecae6;

$color-8: hsl(211, 39%, 23%);
$color-9: hsl(209, 34%, 30%);
$color-10: hsl(360, 67%, 44%);
$color-11: hsl(360, 71%, 66%);
$color-12: hsl(125, 67%, 44%);
$color-13: hsl(125, 71%, 66%);
$color-7: hsl(209, 61%, 16%);